.the-legend {
  border-style: none;
  border-width: 0;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 0;
  width: auto;
  padding: 0 10px;
  position: relative;
}

.the-legend::before,
.the-legend::after {
  content: "";
  display: inline-block;
  width: 10px; /* Adjust the size of the circle */
  height: 10px; /* Adjust the size of the circle */
  border-radius: 50%; /* Make it a circle */
  background-color: white;
  margin: 0 2px; /* Adjust the spacing between the text and circles */
}

.the-legend::before {
  margin-right: 4px; /* Adjust the spacing for the first character */
}

.the-legend::after {
  margin-left: 4px; /* Adjust the spacing for the last character */
}

.the-fieldset {
  border: 1px solid #e0e0e0 !important;
  padding: 10px !important;
}

fieldset.the-fieldset legend {
  float: none;
}


.carousel-indicators{
  display: none!important;
}