.navbar {
  color: white;
}

.navbar a {
  color: white !important;
}

.navbar-toggler-icon {
  background-color: white;
}

.nav-items {
  font-size: 24px !important;
  font-weight: bold !important;
}

.navbar-button {
  margin-right: 30px;
  border: 1px solid #ffffff !important;
  padding: 10px 30px !important;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: transparent;
  color: #ffffff;
}

.logoIcon {
  background-color: rgb(12 135 197);
  height: 60px;
  width: 60px;
  margin-right: 20px;
  /* font-size: 24px; */
}

.edujarname {
  font-size: 35px;
  font-weight: bold;
}

/* Small devices (landscape phones, 576px and up) */

@media (max-width: 575.98px) {
  .navbar-button {
    margin-right: 230px;
    padding: 5px 30px !important;
    margin-top: 10px;
  }

  .logoIcon {
    height: 40px;
    width: 40px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .navbar-button {
    margin-right: 230px;
    padding: 5px 30px !important;
    margin-top: 10px;
  }
  .logoIcon {
    height: 40px;
    width: 40px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1400px) {
}

  
