/* src/background-gradient.css */

body {
    /* margin: 0;
    padding: 0; */
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #4c2183, #2c3ec3e6);
    color: white; 
  }
  